/*.mex
bin/example1
bin/example1a
bin/example1b
bin/example2
bin/example3
bin/example3b
bin/example4
bin/example5
bin/exampleLP
bin/qrecipe
bin/qrecipeSchur
bin/libqpOASES.a
bin/libqpOASES.so
examples/example4.o
examples/qrecipe.o
examples/qrecipeSchur.o
src/Bounds.o
src/Constraints.o
src/Flipper.o
src/Indexlist.o
src/Matrices.o
src/MessageHandling.o
src/Options.o
src/OQPinterface.o
src/QProblem.o
src/QProblemB.o
src/SolutionAnalysis.o
src/SparseSolver.o
src/SQProblem.o
src/SQProblemSchur.o
src/SubjectTo.o
src/Utils.o
interfaces/python/qpoases.cpp
interfaces/python/build/lib.linux-x86_64-3.8/qpoases.cpython-38-x86_64-linux-gnu.so
interfaces/python/build/temp.linux-x86_64-3.8/qpoases.o
